---
layout: default
---
<!-- page title -->
<section class="page-title-alt bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white font-tertiary">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{ site.baseurl }}/assets/images/illustrations/cloud-bg-top.png" alt="illustrations" class="bg-shape-1 w-100">
  <!-- <img src="{{ site.baseurl }}/assets/images/illustrations/terminal-orange.png" alt="illustrations" class="bg-shape-2"> -->
  <img src="{{ site.baseurl }}/assets/images/illustrations/milk-bottle-purple.png" alt="illustrations" class="bg-shape-3">
  <img src="{{ site.baseurl }}/assets/images/illustrations/graph-database-red.png" alt="illustrations" class="bg-shape-4">
  <img src="{{ site.baseurl }}/assets/images/illustrations/star-orange.png" alt="illustrations" class="bg-shape-5">
  <img src="{{ site.baseurl }}/assets/images/illustrations/gamepad-cyan.png" alt="illustrations" class="bg-shape-6">
</section>
<!-- /page title -->

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>
          I'm a Product Director, software developer and all-round problem solver.
        </p>
        <p>
          Coming from an agricultural background, I've always had an appreciation for building things and understanding how they work.
          As I grew up this expanded to technology and software. I was fascinated by the potential of digital technology, how it could be used to create imaginary worlds in video games (DQ8) and automate difficult manual tasks(agri-tech).
          Embracing this, I decided to pursue a career in product development.
        </p>
        <p>
          I started out as a developer, learning first-hand what it takes to design, develop, test and deploy software products.
          As I progressed, I sought out opportunities to become more and more involved in the shaping of products.
          I found engaging with users, researching problems and scoping solutions much more satisfying than implementation.
          At the root of every software solution is a human problem, and I love to connect with people, understand their situation and find a way to help them.
        </p>
      </div>
      <div class="col-md-4 text-center drag-lg-top">
        <div class="shadow-down mb-4">
          <img src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.author }}" class="img-fluid w-100 rounded-lg border-thick border-white">
        </div>
        <!-- <img src="{{ site.baseurl }}/{{ page.signature }}" alt="signature" class="img-fluid"> -->
        <h4>Marcus Bale</h4>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        That's not to say I don't still get a kick-out of building things though.
        In my (limited) spare time I work on game development side-projects and try to keep my data analysis skills sharp.
      </p>
      <p>
        Professionally I have worked across both Fortune 500 global enterprises and small-scale start-ups.
        I have experience collaborating with multiple teams on incredibly complex products. Services that consist of hundreds of apps and are used by hundreds of thousands of users.
        <br>
        On the flip-side I've also worked on smaller scale B2B products that deliver real impact to a smaller, select number of influential clients.
      </p>
      <p>
        Having started out in larger companies I sought out the challenge of a startup. Startups (even established ones) provide great opportunities for growth.
        I've been lucky enough to secure product roles that stretch across product management to data analysis, support, QA and UX.
        I'm always willing to get stuck in and analyse, design, sketch, code and test to get the product out.
      </p>
      <p>
        In product leadership I'm responsible for shaping and communicating the vision of the product, engaging the development team with strategic goals and objectives and managing feature delivery from conception to release.
      </p>
      <p>
        When it comes to process I've adopted set of principles I use to guide my decisions.
        I've collected these from across my career: from bosses, mentors, best practices and the lesson learned from my own successes and mistakes.
        <br>
        These are my own personal mantras, I don't profess to have all the answers but they've helped me throughout my career.
      </p>
    </div>
  </div>
</div>
</section>
<!-- /about -->

{% include work-process-section.html %}
<!--

{% include team-section.html %}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">My Clients</h2>
      </div>
    </div>
    {% include client-slider.html %}
  </div>
</section>

-->
